.authNav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 16px;
  width: 495px;
  height: 48px;
}

.logInBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  height: 28px;
  border: none;
  background: none;
}

.logInBtnText {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
  white-space: nowrap;
}

.registerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background: #121417;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}
