#root {
  max-width: 1560px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.no-scroll {
  background-color: #fff;
  width: 100%;
  padding-left: 60px;
}
